/* RESET */
* {
  text-decoration: none;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

*:visited {
  text-decoration: none;
  color: black;
}

/* NAVBAR  */

.header {
  font-family: "Roboto Condensed";
 
  background: url("../assets/imgs/bg_topography4.png");
  background-color: black;
  
  width: 100%;
}

.header .container{
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px 0 0;

}

.pages {
  grid-column: 2;
  display: flex;
}

.info-tables{
  display: flex;
  gap: 155px;
}

.left-info-table{
  flex-basis: 600px;
  padding-left: 150px;
}

#navbar {
  display: grid;
  grid-template-columns: auto auto;
}

.forty-sixty-grid {
  display: grid;
  grid-template-columns: 40% 60%;
}

.navbar-config {
 display: flex;
 flex-direction: column;
 flex: 1;
}


.logo {
    flex:none;
    width: 130px;

}


.logo img{

    width: 100%;

}

/* UPPER NAVBAR ----- */

.navbar-upper {
    padding: 0 0 7px;
    display: flex;
    border-bottom: 1px solid #eedb78;
    justify-content: space-between;
    gap: 50px;
}

.navbar-upper::before{
  content: '';
  background-image: url('../assets/icons/left-wing.svg');
  position: absolute;
  background-size: 100%;
  height: 10px;
  width: 20px;

  top: 42px;
  left: 573px;
}

.navbar-upper::after{
  content: '';
  background-image: url('../assets/icons/right-wing2.svg');
  position: absolute;
  height: 10px;
  width: 20px;
  bottom: 0;
  top: 42.5px;
  right: 422px;
}

.format-icon {
  display: flex;
  justify-content: end;
  margin-right: 7px;
}

.icon-sizes {
  width: 25px;
}

/* GRID TEMPLATES */

.left-right-grid {
  display: grid;
  grid-template-columns: 85% 15%;
}

.align-left {
  text-align: left;
}

.review-grid {
  display: grid;
  grid-template-columns: 65% 35%;
}

.five-stars {
  display: flex;
  
}

.right-left-grid {
  display: grid;
  grid-template-columns: 15% 85%;
}

.right-left-grid-moderate {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 13%;
}

.even-grid {
  display: flex;
  gap: 10px;
  flex: 1;
}

.even-grid svg{
    width: 25px;
    stroke: white;
    fill: white;
}

.header .c2{
    display: flex;
    gap: 35px;
}

.auto-two-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.stacked-even-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.search-container{
    width: 300px;
    flex: none;
}

/* SEARCH BAR */

.search-bar {
    border: none;
    color: white;
    background-color: transparent;
 
    flex: 1;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
}

/* QUESTION ICON */

/* #question-icon{
    position: relative;
    bottom: 1px;
} */

.end-center {
  display: flex;
  justify-content: end;
  align-items: center;
}


.cls-1 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}


/* MIDDLE NAVBAR */

/* LOWER NAVBAR --------- */
.navbar-lower {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 14px;
  padding: 10px 0px 0px;
}

.navbar-lower .lower-grid-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 2px 2px 8px 2px;
  }

.yellow-on-hover:hover {
  background-color: #eedb78;
  stroke: black;
  color: black;
}

.bg-yellow {
  background-color: #eedb78;
}

.bg-red {
  background-color: red;
}

.fit {
  width: fit-content;
}

.bg-dark {
  background: black;
}

#Layer_1 {
  margin: 0;
}

.lower-icon-dimensions {
  height: 30px;
  width: 30px;
}

.outlet{
    width: 70px;
}

.outlet svg{
    width: 100%;
}





/* ICONS */

.star {
  display: inline;
  height: 15px;
  width: 15px;
}

.heart-icon-positioning {
  display: flex;
  grid-column: 3;
  position: relative;
  top: 10px;
}

.heart-icon {
  height: 25px;

  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4px;
}

.heart-icon:hover {
  fill: crimson;
  stroke: transparent;
}

/* STRUCTURE */

.img-section {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  background: url("../assets/imgs/ballantines.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 47%;
  background-position-x: 20%;
  margin-bottom: 50px;
}

.items-column-container {
  position: relative;
  justify-content: center;
  display: flex;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.large-roboto {
  font-size: 21pt;
  font-family: "Roboto", sans-serif;
}

/* UTILITY */

.roboto-condensed {
  font-family: "Roboto Condensed";
}

.underlined {
  text-decoration: underline;
}

.medium-font {
  font-weight: 300;
}

.large-font {
  font-size: 20pt;
}

.strong-font {
  font-weight: bold;
}

.text-align-right {
  text-align: right;
}

.border-grey {
  border-bottom: 1px solid grey;
}

.quarter-down {
  position: relative;
  top: 25%;
}

.half-size {
  height: 50%;
}

.quarter-size {
  width: 25%;
  height: 25%;
}

.text-white {
  color: white;
}

.very-slightly-right {
  margin-left: 2%;
}

.light-right {
  margin-left: 3%;
}

.bit-right {
  margin-left: 10%;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-font {
  font-size: 12px;
}

.smallish-font {
  font-size: 12pt !important;
}

.dark-icon {
  stroke: white;
  fill: white;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.yellow-outline {
  outline: 2px solid #eedb78;
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: left;
  padding-left: 10px;
}

.end-vertical {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.end-line {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.light-font {
  font-weight: 200;
}

.center {
  text-align: center;
}

.clickable:hover {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.yellow {
  color: #eedb78;
}

.title-text {
  margin-top: 40px;
  font-size: 20pt;
  margin-bottom: 20px;
}

/* FILTER-COLUMN */

.brands {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  height: max-content;
  width: 90%;
}

.brands-title {
  display: grid;
  grid-template-columns: auto auto;
  gap: none;
  margin-bottom: 12%;
}

.filter-column {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.radio-check {
  color: #eedb78;
  appearance: none;
  font: inherit;
  width: 1.35em;
  height: 1.35em;
  border: 0.15em solid grey;
  padding: 5px;
  border-radius: 50%;
}

.radio-check:checked {
  outline: 5px solid #eedb78;
  outline-offset: -12px;
  width: 1.35em;
  background-size: 0%;
}

.smaller-title-text {
  position: relative;
  top: 5px;
}

.filter-title {
  display: flex;
  font-size: x-large;
  gap: 20px;
  height: fit-content;
}

.filter-icon{
  display: flex; align-items: center;
}

.filter-item {
  font-family: "Roboto Condensed";
  color: black;
}

.brand-selector{
  overflow: auto;
  height: 150px;
}

.brand-ops {
  
  display: flex;
  flex-direction: column;

}

.brand-ops .op{
  font-family: "Roboto Condensed";
  color: black;
  display: flex;
  align-items: center;
}

.filter-item-amount {
  font-size: small;
  color: rgb(88, 88, 88);
}

.price-ranges {
  display: flex;
  justify-content: space-between;
}



.pr-in {
  appearance: none;
  width: 100%;
}

/* FILTER OPS */

.side-icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.side-icon-closed {
  margin-top: 10px;
  margin-right: 20px;
}

#filter-ops {
  height: fit-content;
}

.op-line {
  color: rgb(255, 255, 255);
  width: 250px;
  opacity: 0.5;
  margin-bottom: 10px;
}

/* SUGGESTION BOXES */

.suggestion-boxes {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.suggestion-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Product-Column */

.column-gap {
  column-gap: 220px;
}

.products-column {
  display: flex;
  flex-direction: column;
  height: fit-content;

}

/* UPPER Product-Column */

.upper-content-bar {
  display: flex;
  justify-content: space-between;
}

.inverted-arrow {
  color: #eedb78;
  border: 2px solid black !important;
  border-radius: 50%;
}

.standard-arrow{

  color: black;
  border: 2px solid #eedb78 !important;
  border-radius: 50%;

}

.lightly-down {
  margin-top: 50px;
}

.arrow-icon {
  line-height: 0;
}




.page-items {
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* order select */

.order-by {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-input {
  margin-left: 10px;
  border: 1px solid black;
  background-color: white;
  font-size: medium;
  text-align: center;
  width: 150px;
  outline-width: none;
}

/* PRODUCTS ROW */

.products-row {
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  column-gap: 30px;
  row-gap: 90px;
  width: 1000px;
}


.product-box {
  
  display: flex;
  flex-direction: column;
  box-shadow: 20px 10px 60px rgba(79, 79, 79, 0.4);
  width: 230px;
  
}

.display-temperature{
  display: flex;
}

.product-box .upper-product-box{
  display: flex; 
  justify-content: space-around; 
  width: 100%;
}

.upper-product-box .img-container .frete-box{
  position: absolute; display: flex; height: 250px; flex-direction: column; justify-content: end;
}

.upper-product-box .img-container .frete-box p{
  background-color: black;
  color: #eedb78;
  padding: 3px 10px;
}

.lower-product-box .prod-title-text{
  text-align: center;
}

.lower-product-box .ratings {
  display: flex;
  justify-content: center;
}

.lower-product-box .discount-given {
  display: flex;
  justify-content: center;
}

.lower-product-box .price{
  display: flex;
  justify-content: center;
  gap: 10px;
}


.lower-product-box{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.discount-given{
  text-decoration:line-through;
 font-weight: lighter;
}

.left-col{
  
 padding-top: 10px;
 width: 100px;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 5px;
  
}

.left-col .icon-dimensions{
  width: 20px;
}

.left-col .flag-container{

  width: 30px;
  height: 30px;
  border-radius: 100px;

}

.left-col .flag-container img{
  border-radius: 100px;

}

.product-box .img-container{

  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.product-box .img-container img{

  height: 100%;

}


/* LOWER CONTENT BAR */

.lower-content-bar {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.lower-content{
  display: flex;
  flex-direction: column;
}

.suggestion-icon-and-text {
  display: flex;
  justify-content: center;
  padding-right: 10px;
}

.suggestion-header .whisky-icon{
  display: flex;
  align-items: center;
}

.suggestion-header {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.grey-line {
  background-color: grey;
  display: flex;
  width:2px;
  margin: 10px 0px;
  opacity: 0.2;
}

.select-whisky {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-left: 10px;
}

.whisky-item {
  height: fit-content;
  text-align: center;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 98% 2%;
}

.whisky-selector {
  flex-basis: 80%; display: grid; grid-template-columns: repeat(5, auto); column-gap: 50px;
}

.select-whisky:hover {
  margin-top: 3px;
}

.whisky-item:hover .underline {
  display: flex;
  justify-content: center;
  height: 2px;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #eedb78;
}

.display-whisky {
  display: flex; justify-content: space-between; gap: 20px;
}

.space-between-rows {
  row-gap: 80px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  column-gap: 10px;

  width: 100%;
  
}

.cat-container p{
  padding-top: 50px;
  font-family: 'Roboto';
  width: 165%;
}

.cat-container:hover{
  font-weight: bold;
}

.categories .cat-container{
  height: 250px; width: 150px;
}

.cat-container img{
  height: 100%;
}

.cat-container .bg-container{
  position: absolute;
}

.bg-container div{
  background-color: #eedb78; height: 100px; width: 120px; position: relative; z-index: -1; left: 60px; top: 180px;
}

.categories-2 {
  margin-left: 70px;

  column-gap: 50px;
}




.cat-display-grid:hover {
  font-weight: bold;
}



.last-pic-container {
  display: flex;
  justify-content: center;
  height: 300px;
  margin: 200px 0px;
  
}

/* ------------------------------------------------- LP 2 ------------------------------------------------------- */

.breadcrumb {
  margin-left: 15%;
}

.main-prod-view {
  width: 80%;
}

.prod-display {
  display: flex;
}

.prod-img-view {
  width: 100%;
}

.prod-info {
  display: grid;
  height: 90vh;
  width: 100%;
  grid-template-rows: 3% auto;
  padding-left: 15%;
  padding-right: 15%;
}

.prod-details {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60% 30%;
}

.stickers {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
}

.prod-info-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.header-info {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2%;
}

.further-details {
  display: flex;
  flex-direction: column;
 
}

.left-right-display{
  display: flex;
  justify-content: space-between;
}



.expanded-disc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-product-details {
  display: grid;
  grid-template-rows: repeat(9, auto);
}

.add-to-cart-expanded{
  display: flex;
}

.add-quant{
  display: flex;
  gap: 30px;
  outline: 1px solid black; padding: 10px 0px;
  justify-content: center;
  width: 140px;
}

.add-btn-expanded{
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
  background-color: #eedb78;
  width: 230px;
}

.add-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #eedb78;
  padding: 8px;
}

.quant-cart{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 8px 0px;
}

.bottom-details {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60% 10% 10%;
}

.display-imgs {
  display: flex;
  justify-content: space-around;
}

.data-blocks{

  display: flex;
  justify-content: space-between;

}

.tequila {

  height: 100px;

}

.tequila-full {
  background-image: url("../assets/imgs/products/tequila.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.even-grid-two {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

#cat-1 .suggestion-bg-yellow {
  left: 10px;
  width: 120px !important;
}

#cat-1 .drink-cat {
  background-size: 200%;
  background-position-y: 100%;
  background-position-x: center;
}

#cep-input {
  outline: 1px solid black;
  border: none;
  height: 120%;
  width: 40%;
}

.ok-button {
  margin-top: 5px;
  width: 40%;
}

.fractured-imgs-grid {
  display: flex;
  justify-content: center;
}

.fractured-display-grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 15px;
}

.fractured-imgs{
  height: 400px; width: 400px;
}

.img-2{
  margin-top: -130px;
}

.img-3{
  margin-top: -200px;
}

.img-4{
  margin-top: -280px;
}

#tequila-brand {
  background: url("../assets/imgs/products/confirmed-additive-free-english-250.png");
  height: 80px;
  width: 80px;
  background-size: contain;
}

.tequila-fractures {

  border: 1px solid black;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
  height: 80px;
  width: 80px;
  overflow: hidden;
}

.tequila-img{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.lower-section {
  top:70px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding:  0px;
  width: 100%;
  padding-bottom: 130px;
}

.lower-section::before {
  content: "";
  background: url("../assets/imgs/bg/road.png");

  width: 125%;
  background-size: 100%;
  background-position-y: 50px;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  opacity: 0.4;
  z-index: -9;
}

.detail-list li {
  list-style: circle;
}

.details-header {


}

.add-to-cart{
  display: flex;
}

.right-info-table{
  flex-basis: 600px;
}

.info-header{
  display: flex;
  margin-left: 150px;
  gap: 500px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
  

}

.table-info-header{
  display: flex; flex-direction: column;  justify-content: center;
}

.tech-details {
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
}

.seal-sizes {
  width: 50px;
  height: 50px;
}

.suggestion-bg-yellow {
  position: relative;
  width: 120%;
  height: 35%;
  z-index: -1;
  top: 75%;
  right: 15px;
}

.container {
    width: 1024px;
}

.container-fluid{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}